* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
body {
    background:rgb(46, 45, 45);
    width: 100%;
    height: 100vh;
}
.conatiner  {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:"header header header header" 
                        "nav nav nav nav"
                        "main main main main"
                        "footer footer footer"; 
}
header {
    background-color: rgb(46, 45, 45);
    width: 100%;
    height: 1%;
    grid-area: header;
}
p {
    white-space: pre-line;
    margin-left: 10px;
    font-size: 1em;
    line-height: 20px;
    text-align: start;
}
h3 {
    margin-top: 15px;
    margin-bottom: 5px ;
}
a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 94, 1) ;
    margin: 10px;
   }
/***Navigation***/
/***Creating a burger menu***/
#burger {
    display: none;
    position: relative;
    width: 30px;
    height: 25px;
    position: fixed;
    top: 1em;
    right: 1em;
    border-top: .2em solid rgb(255,255,255);
    border-bottom: .2em solid rgb(255,255,255);
}
#burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .2em;
    background: rgb(255,255,255);
    top: 40%;
}
#burger:hover {
    border-radius: 5px;
}
/***desktop navigation bar***/
.desktop-nav {
    display: block;
    background:  rgb(255, 94, 1);
    padding: 1em;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
   
}
.desktop-nav > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    list-style: none;
   
}
.desktop-nav  a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(46, 45, 45);
    font-size: 2em;
}
.desktop-nav  a:hover {
    background: rgb(46, 45, 45);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
/***Mobile Menu and hamburger***/
.mobile-nav {
    position: relative;
    transform: translateY(-100vh);
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    top: 0;
    right: 0;
    
}
.mobile-nav > a {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 30px;
    height: 25px;
    background: rgb(250, 250, 250);
    border-top: .2em solid rgb(46, 45, 45);
    border-bottom: .2em solid rgb(46, 45, 45);
}
.mobile-nav > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .2em;
    background: rgb(46, 45, 45);
    top: 25%;
}
.mobile-nav a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-size: 2em;
}
.mobile-nav a:hover {
    border-radius: 5px;
}
.mobile-nav > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-nav:target {
    transform: translateY(0);
    transition: transform 1.5s ease-in-out; 
   
}
/***main section***/
main {
    grid-area: main;
    color: rgb(46, 45, 45);
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
/***Portfolio***/
.portfolio {
    display: grid;
    height: 100%;
    padding: 50px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.portfolio-item {
    background: rgb(252, 127, 55);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item.small {
    grid-row: span 3;
    grid-column: span 1;
}
.portfolio-item.tall {
    grid-row: span 1;
    grid-column: span 1;
}
.portfolio-item.wide {
    grid-row: span 1;
    grid-column: span 2;
}
.portfolio-item.medium {
    grid-row: span 1;
    grid-column: span 2;
}
.portfolio-item.large {
    grid-row: span 1;
    grid-column: span 1;  
} 
/***images for portfolio boxes***/
.one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.541) ), url(./Img/CSY1019.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgb(46, 45, 45);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    transition: all ease-in-out 300ms;
}
.one:hover {
    background-position: center;
    background-size: 150%;
}
.two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.541) ), url(./Img/CSY1017.jpg);
    background-size: cover;
    background-position: top center;
    background-color: rgb(46, 45, 45);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    transition: all ease-in-out 300ms;
}
.two:hover {
    background-position: center;
    background-size: 150%;
}
.three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.541) ), url(./Img/CSY1014.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgb(46, 45, 45);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    transition: all ease-in-out 300ms;
}
.three:hover {
    background-position: center;
    background-size: 150%;
}
.four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.541) ), url(./Img/CSY1018.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgb(46, 45, 45);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    transition: all ease-in-out 300ms;
}
.four:hover {
    background-position: bottom;
    background-size: 150%;
}
.five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.541) ), url(./Img/CSY1026.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(46, 45, 45);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    transition: all ease-in-out 300ms;
}
.five:hover {
    background-position: center;
    background-size: 150%;
}
.six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.541) ), url(./Img/CSY1020.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgb(46, 45, 45);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    transition: all ease-in-out 300ms;
}
.six:hover {
    background-position: center;
    background-size: 150%;
}
/***CV Page***/
.grid-container {
    display: grid;
    grid-template-areas: "left-section middle-section right-section"
                        "footer footer footer";
    grid-gap: 40px;
}
.left-section {
    background: url('./Img/PhotoID.jpg');
    height: 100vh;
    width: 50vh;
    grid-area: left-section;
    background-size: cover;
    background-position: center;
}
.middle-section {
    grid-area: middle-section;
}
h2, p, ul, li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.801);
}
.basic-information {
    padding: 20px 10px 20px 10px;
}
.right-section {
    padding: 20px 10px 20px 10px;
    grid-area: right-section;
}
.skills {
    background-color: rgb(255, 94, 1);
    padding: 10px;
    border-radius: 20px;
}
.dash {
    height: 5px;
    width: 50px;
    background-color: rgb(255, 94, 1);
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
li {
    margin-bottom: 5px;
    list-style: none;
}
h4 {
    margin-bottom: 5px;
    margin-top: 10px;
}
.education-background {
    margin-top: 20px;
}
.skills h2 {
    margin-bottom: 5px;
}
.experience {
    margin-top: 20px;
}
.achievement {
    margin-top: 20px;
}

/***report***/
.box {
    background: rgb(64, 65, 62);
    width: 50%;
    height: 100%;
    margin: auto;
}
h3 {
    color: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 5px;
}
.box2    {
    background: rgb(64, 65, 62);
    width: 50%;
    height: 100vh;
    margin: auto;
}
.box3 {
    background: rgb(64, 65, 62);
    width: 50%;
    height: 100vh;
    margin: auto;
}
.box4 {
    background: rgb(64, 65, 62);
    width: 50%;
    height: 50%;
    margin: auto;
}
.dash1 {
    height: 10px;
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.356);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
/***ScreenShots***/
.ss {
    display: grid;
    height: 100%;
    margin: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.oof {
    background: rgb(49, 49, 49);
    color: rgba(255, 255, 255, 0.747);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: top;
}
.portbefore {
    background-image: url(./Img/Portbefore.PNG);
    background-position: center;
    background-size:  210px;
    background-repeat: no-repeat;
}
.portafter {
    background-image: url(./Img/Portafter.PNG);
    background-position: center;
    background-size: 210px;
    background-repeat: no-repeat; 
}
.cvbefore {
    background-image: url(./Img/CVBefore.PNG);
    background-position: center;
    background-size: 310px;
    background-repeat: no-repeat; 
}
.cvafter {
    background-image: url(./Img/CVAfter.PNG);
    background-position: center;
    background-size: 310px;
    background-repeat: no-repeat; 
}
/***Validation Screenshots***/
.vcss {
    display: grid;
    height: 100%;
    margin: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.voo {
    background: rgb(49, 49, 49);
    color: rgba(255, 255, 255, 0.747);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: top;
}
.cssbefore {
    background-image: url(./Img/CSSvalidation.PNG);
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
}
.htmlhome {
    background-image: url(./Img/indexvalidation.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}
.htmlportfolio {
    background-image: url(./Img/Portfoliovaldiation.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}
.htmlcontact {
    background-image: url(./Img/Contactvalidation.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}
.htmlcv {
    background-image: url(./Img/CVvalidation.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
}
/***References***/
cite {
    color:rgba(255, 255, 255, 0.801);
    text-align: start;
    white-space: nowrap;
    font-style: italic;
    font-size: 0.8em;
}
/***Image background homepage***/
.bckimg {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.5) ), url(Img/me.jpg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    }

h1 {
 color: rgb(255, 255, 255);
 margin-top: 15%;
 margin-left: 20%;
 text-decoration: none;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 animation: type 3s steps(33);
 overflow: hidden;
 white-space: nowrap;
}

 @keyframes type {
        0% {
            width: 0ch;
        }
        100% {
            width: 30ch;
        }
    } 

/***Contact***/
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(64, 65, 62);
    height: 100vh;
}
input {
    display: grid;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 50px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    border: 2px solid rgb(255, 94, 1);
    color: #ffffff;
    background-color: rgb(64, 65, 62);
}
input::placeholder {
    color: #979797;
    font-size: 1em;
}
input:hover {
    box-shadow: 0 5px 20px rgb(255, 94, 1);
}
textarea {
    background-color: rgb(64, 65, 62);
    border: 2px solid rgb(255, 94, 1);
    color: #ffffff;
    width: 300px;
    margin-bottom: 15px;
       
}
textarea:hover {
    box-shadow: 0 5px 20px rgb(255, 94, 1);
}
textarea::placeholder {
    font-size: 1em;
    color: #979797;
}

.Submit {
    grid-column: 2;
    font-size: 2em;
}









/***footer***/
footer {
    grid-area: footer;
    background: rgb(46, 45, 45);
    color: white;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}



/***Reponsive screens***/
/***NavBar***/
@media screen and (max-width: 1000px) {
    #burger {
        display: block;
    }   

    .desktop-nav  {
        display: none;
    }
}
/***Changes h1 tag on home page***/
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 20px;
    }
}
/***CV page***/
@media screen and (max-width: 1000px) {
    .grid-container{
        grid-template-areas: 
            'left-section'
            'middle-section'
            'right-section'
            'footer';
            grid-gap: 20px;
            width: 90%;
            margin: auto;
    }
    .left-section {
        height: 40vh;
        width: 40vh;
        margin-left: 15%;
        margin-top: 10%;
    }
}